crewai
google-generativeai
python-dotenv
pandas
streamlit
plotly
fastapi
uvicorn[standard]
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
fpdf2
matplotlib
requests
sqlalchemy
optuna
keras
tensorflow
scikit-learn
langchain-community
langchain
yfinance 
tf-keras
sentence-transformers
duckdb
kaggle